html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #212529;
  color: #212529;
}

h1,
h2,
h3 {
  font-family: 'Arial', 'Lucida Grande', 'sans-serif';
}

.bg-gold-semitransparent {
  background-color: rgba(236, 210, 89, 0.75);
}

.bg-orange-semitransparent {
  background-color: rgba(255, 153, 0, 0.7);
}

.bg-silver-semitransparent {
  background-color: rgba(101, 183, 201, 0.7);
}

.bg-red-semitransparent {
  background-color: rgba(220, 53, 69, 0.7);
}

.transition-bg {
  transition: background-color 400ms ease-in-out;
}

.transition-opacity {
  transition: opacity 400ms ease-in-out;
}

.container-padding-top {
  padding-top: 1.5rem;
}
